# Arquivos Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Diretórios de logs e bases de dados locais
*.log
*.sqlite
*.db

# Pastas e arquivos da IDE PyCharm
.idea/
*.iml
*.ipr
*.iws

# Arquivos de ambiente virtual
.venv/
venv/
env/
ENV/
*.env
db/.env


# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.bak
*.swp
